# Node modules
node_modules/

# Build output
out/
dist/

# Test coverage
coverage/

# Logs
*.log

# TypeScript build info
*.tsbuildinfo

# MacOS
.DS_Store

# VS Code settings (optional, if you want to ignore workspace settings)
.vscode/

tmp/

media/webview/
media/ui/

.env